.Content {
  width: 72vw;
  background: #dae5f5;
  overflow: hidden;
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.grpTitle {
  width: 100%;
  height: 10vh;
  background-color: #001f8b;
  padding-left: 25px;
  align-content: center;
  display: flex;
}

.backtohome {
  display: none;
}

.grpIcon {
  margin-top: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.grpTitleText {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 23px;
  font-weight: 500;
  color: white;
}

.notesContent {
  width: 100%;
  height: 60vh;
  padding: 10px;
  overflow-y: auto;
}

.Inputbox {
  background-color: #001f8b;
  height: 28vh;
}

@media (max-width: 768px) {
  .Content {
    width: 100vw;
  }

  .grpTitleText {
    margin-top: 15px;
    margin-left: 15px;
  }

  .grpTitle {
    padding: 5px;
  }

  .grpIcon {
    margin-top: 8px;
    width: 45px;
    height: 45px;
    font-size: 22px;
    margin-left: 11px;
  }

  .Inputbox {
    height: 25vh;
  }

  .notesContent {
    height: 65vh;
    overflow: scroll;
  }

  .backtohome {
    display: block;
    background-image: url("../../assets/arrow.svg");
    width: 22px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 23px;
    margin-left: 7px;
  }
}