@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.title {
  font-size: 2.8em;
  font-family: "Indie Flower", cursive;
  margin-top: 30px;
  margin-left: 70px;
  width: 100%;
  min-width: 200px;
  letter-spacing: 0.002em;
}

.addBtn {
  position: fixed;
  top: 86vh;
  left: 21vw;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #16008b;
  text-align: center;
  border: none;
  font-size: 65px;
  color: white;
  cursor: pointer;
}

.Modaltitle {
  font-size: 30px;
  font-family: var(--roboto);
  padding-left: 25px;
  font-weight: 500;
}

.grpInput {
  width: 300px;
  height: 45px;
  border-radius: 20px;
  border: 2px solid #cccccc;
  font-size: 18px;
  padding-left: 10px;
  margin-left: 70px;
}

.inputlabel {
  margin-top: 5px;
  font-size: 18px;
  font-family: var(--roboto);
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.001em;
  padding-left: 30px;
}

.colorOptions {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}

.colorOption {
  width: 35px;
  height: 35px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 5px;
}

.activeColor {
  border: 2px solid rgb(112, 111, 111);
}

.error {
  color: red;
  margin-left: 30px;
  font-size: 15px;
}

.createBtn {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #001f8b;
  margin-top: -50px;
  margin-left: 25vw;
  cursor: pointer;
  font-size: 20px;
}

.listContainer {
  overflow: scroll;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .addBtn {
    margin-left: 52vw;
    font-size: 50px;
    width: 65px;
    height: 65px;
  }

  .listContainer {
    width: 100vw;
    overflow: scroll;

    overflow-x: hidden;
  }

  .error {
    margin: 0;
    font-size: 11px;
    color: red;
  }

  .title {
    font-size: 2.2rem;
    margin-left: 90px;
    margin-top: 20px;
  }

  .createBtn {
    margin-left: 68px;
    margin-top: 10px;
    width: 36vw;
    height: 30px;
  }

  .inputlabel {
    font-size: 13px;
    line-height: 30px;
    margin-top: 7px;
    padding-left: 0;
  }

  .colorOption {
    width: 20px;
    height: 20px;
    width: 100%;
    margin-left: 2px;
  }

  .colorOptions {
    width: 58%;
    margin-left: 15px;
  }

  .Modaltitle {
    font-size: 20px;
    padding-left: 0;
  }

  .grpInput {
    width: 36vw;
    height: 28px;
    font-size: 11px;
    margin-left: 24px;
    margin-top: 5px;
  }
}